<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LibraryDB"
		  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Вероника\OneDrive\Рабочий стол\AIS_LABA_1\DataAccessLayer\LibraryDB.mdf;Integrated Security=True;Connect Timeout=30"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>